# Libreta para la clase del dia 14/10/2025

In [1]:
"""
Este es un comentario de múltiples líneas
en Python.
"""
print("Hola, mundo!")  # Esto es un comentario de una sola línea
print("¡Bienvenido a la clase de programacion en Python!")  # Otro comentario de una sola línea

Hola, mundo!
¡Bienvenido a la clase de programacion en Python!

In [2]:
# saludo personalizado
nombre = "María"
edad = 25
ciudad = "Ciudad de México"

# Mostrar información personalizada
print("===INFORMACION PERSONAL===")
print("Nombre:", nombre)
print("Edad:", edad)
print("Ciudad:", ciudad)

===INFORMACION PERSONAL===
Nombre: María
Edad: 25
Ciudad: Ciudad de México

In [3]:
type(nombre)

str

In [4]:
type(edad)

int

In [5]:
type(ciudad)

str

In [6]:
temperatura = 22.5
print("Temperatura:", temperatura)

Temperatura: 22.5

In [7]:
type(temperatura)

float